body{
    background-image: url(../img/catHello.jpg);
    background-repeat: repeat-y;
    background-size:100%;
    color: rgb(89, 89, 89);
    padding: 2em;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Sunflower', sans-serif; 
}

h1,h4{
    text-align: center;
    color:rgb(242, 230, 230);
    font-family: 'Sunflower', sans-serif; 
    /* font-family: 'Roboto Condensed', sans-serif; */
}


li{
    list-style-type:none;
}

.alert-info{
    text-align: center;
    background-color: rgb(228, 199, 200);
    color: rgb(103, 103, 103);
    font-size: 1.1em;
    border: 0.5em rgb(83, 116, 133) dotted;
    padding:0.3em;
}
.btn-primary{
    background-color: rgb(83, 116, 133);

}